/*
OpenActive colours:

See here: https://drive.google.com/drive/folders/1oCdFAj0d7Opn-fMJvml18k99jWylTWic?usp=drive_link

The 'OA' logo colours going clockwise around the 'O' from bottom left:
#433d90 - Dark purple
#0067b1 - Dark blue
#009ee3 - Medium blue (DQE log dot 'done' status)
#74cbf3 - Light blue (DQE feedback email address)

The 'OA' logo colours going clockwise around the 'A' from bottom left:
#931e80 - Purple (DQE log dot 'busy' status, DQE 'Go' button)
#e11482 - Pink
#e63b2e - Red (DQE log dot 'error' status)
#f6a635 - Orange (DQE log dot 'warn' status, DQE warning message border)

Others:
#253882 - Very dark blue (DQE main heading background)
#f7cf4c - Yellow (DQE warning message background)
#6c757d - Grey (DQE 'Clear' button)
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html * {
    font-family: Montserrat, sans-serif;
}

[data-testid='stHeader'] {
    display: none;
}

[data-testid='stMetric'] {
    display: flex;
    flex-direction: column-reverse;
    overflow: visible;
    overflow-wrap: break-word;
    white-space: normal;
    align-items: center;
    color: #009ee3;
    background-color: #ddf2fc;
    padding: 20px 10px 20px 10px;
    border: 2px solid;
    border-radius: 10px;
    margin: 10px 20% 10px 20%;
    box-shadow: 10px;
}
[kind='secondary'] {
    display: flex;
    flex-direction: column-reverse;
    overflow: visible;
    overflow-wrap: break-word;
    white-space: normal;
    align-items: center;
    padding: 20px 10px 20px 10px;
    border: 2px solid;
    margin: 10px 20% 10px 20%;
    box-shadow: 10px;
    width: 60%;
    background-color: #009ee3;  /* Your default color */
    color: white; 
}

[kind='primary'] {
    display: flex;
    flex-direction: column-reverse;
    overflow: visible;
    overflow-wrap: break-word;
    white-space: normal;
    align-items: center;
    padding: 20px 10px 20px 10px;
    border: 2px solid;
    margin: 10px 20% 10px 20%;
    box-shadow: 10px;
    width: 60%;
    background-color: #931e80; 
    color: white;
    border-color: #931e80; 
}

div.stButton > button:hover {
    color: white !important;
}

div.stButton > button:active,  /* Selected (active) state */
div.stButton > button.st-bw2,
div.stButton > button:focus {
    background-color: #931e80; 
    color: white;
    border-color: #931e80; 
}

.st-emotion-cache-2w33lj:focus:not(:active) {
    color: white;
}

[data-testid='stDataFrame'] {
    margin: 0% 20%;
}

[data-testid='stVerticalBlock'] {
    gap: 5px;
}

/* 'This Week' card container */
.st-emotion-cache-j5r0tf.e1f1d6gn3 {
/* These flex box settings don't seem to work as intended, which was to put space between the card
text and card map, thereby pushing the former to the top and the latter to the bottom */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    color: #fff;
    background-color: #253882;
    padding: 15px 10px;
    border: 2px solid;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 5px 5px #74cbf3;
    min-height: 330px;
}

/* The next immediate set of 'This Week' card containers are as follows: */
/* .st-emotion-cache-0.e1f1d6gn0 {
}
.st-emotion-cache-1wmy9hl.e1f1d6gn1 {
}
.st-emotion-cache-1ue2szu.e1f1d6gn2 {
} */
/* Container for card text, and separate container for card map */
/* .st-emotion-cache-raqm0.e1f1d6gn4 {
} */

.opportunity-card-top {
    display: flex;
    flex-direction: row;
    min-height: 200px;
}

.opportunity-card-top div {
    width: 50%;
}

.opportunity-card-top p {
    margin-bottom: 10px;
    text-align: left;
}

.opportunity-card-top img {
    float: right;
    max-width: 95%;
    max-height: 150px;
    border-radius: 10px;
}

/* Ensuring text not hidden on metrics */
label.st-emotion-cache-17c4ue.e1i5pmia2 {
    overflow: visible;
    overflow-wrap: break-word;
    white-space: normal;
}

div.st-emotion-cache-1wivap2 {
    overflow: visible;
    overflow-wrap: break-word;
    white-space: normal;
}

.st-emotion-cache-1wivap2 > div {
    overflow: visible;
    overflow-wrap: break-word;
    white-space: normal;
}

.st-emotion-cache-1wivap2 > div > p {
    overflow: visible;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
}

.st-emotion-cache-1jicfl2 {
    padding: 0.5rem 1rem 0.5rem;
}

.st-emotion-cache-1whk732 {
    margin-left: 0.2rem;
}