GCP_PROJECT_ID=openactive-monitor
BQ_DATASET_ID=openactive_analytics
BQ_FEEDS_TABLE=feeds
BQ_FEED_INGESTION_TABLE=feed_ingestion
BQ_OPPORTUNITIES_TABLE=opportunities
BQ_OPP_INGESTION_TABLE=opportunity_ingestion