# Data
volume-1/data-analysis/*
!volume-1/data-analysis/000*
volume-1/data-feeds/*
!volume-1/data-feeds/dummy.txt
volume-1/data-opportunities/*
!volume-1/data-opportunities/dummy.txt

jobs/analyse-opportunities/output*

# Dependencies
__pycache__/
node_modules/
virt*/
.venv

# Jupyter
.ipynb_checkpoints/

# Mac Finder
.DS_Store

# Tests
test*/

# VSCode
*.code-workspace