beautifulsoup4==4.12.3
cachetools==5.3.3
certifi==2024.7.4
charset-normalizer==3.3.2
func_timeout==4.3.5
google-api-core==2.19.1
google-auth==2.32.0
google-cloud-pubsub==2.22.0
googleapis-common-protos==1.63.2
grpc-google-iam-v1==0.13.1
grpcio==1.65.0
grpcio-status==1.65.0
idna==3.7
openactive==2.0.0
proto-plus==1.24.0
protobuf==5.27.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
requests==2.32.3
rsa==4.9
soupsieve==2.5
termcolor==2.4.0
urllib3==2.2.2
